.TodoList {
  position: relative;
  border-radius: 2px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.TodoList::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -3.2px;
  transform: translateX(-50%);
  width: 99.5%;
  height: 100%;
  border-radius: inherit;
  border: inherit;
  z-index: -1;
}

.TodoList::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -5.2px;
  transform: translateX(-50%);
  width: 98.5%;
  height: 100%;
  border-radius: inherit;
  border: inherit;
  z-index: -2;
}
.TodosController {
  border-top: 1px solid #ccc;
  padding: 0.4rem 0;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.TodosController > p {
  margin-left: 0.4rem;
  text-align: justify;
}

.TodosControllerMain {
  display: flex;
  justify-content: center;
  align-items: center;
}
