.ControllerBtn {
  display: block;
  height: 100%;
  margin: 0.2rem;
  padding: 0.3rem;
  box-shadow: none;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  background: transparent;
  overflow: hidden;
  color: #ccc;
}

.ControllerBtn:hover {
  border: 1px solid #eee;
}

.ClearedCompletedBtn {
  display: block;
  height: 100%;
  margin: 0.2rem;
  padding: 0.3rem;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  overflow: hidden;
  color: #ccc;
}

.ClearedCompletedBtn:hover {
  text-decoration: underline;
}

.Active {
  border: 1px solid #ccc !important;
}

.ControllerBtn:hover.Disabled {
  border: none;
}

.Disabled {
  cursor: default;
  border: none;
  border-radius: 0;
  color: transparent;
}
